<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<table class="table table-striped viewUserTable" th:fragment="viewUserTable" style="display:none;">
    <tbody>
    <tr>
        <th class="text-right border-0" scope="row">ID</th>
        <td class="border-0" id="id"></td>
    </tr>
    <tr>
        <th class="text-right border-0" scope="row">First Name</th>
        <td class="border-0" id="firstName"></td>
    </tr>
    <tr>
        <th class="text-right border-0" scope="row">Last Name</th>
        <td class="border-0" id="lastName"></td>
    </tr>
    <tr>
        <th class="text-right border-0" scope="row">Age</th>
        <td class="border-0" id="age"></td>
    </tr>
    <tr>
        <th class="text-right border-0" scope="row">Email</th>
        <td class="border-0" id="email"></td>
    </tr>
    <tr>
        <th class="text-right border-0" scope="row">Roles</th>
        <td class="border-0" id="roles"></td>
    </tr>
    </tbody>
</table>
</html>