<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign in</title>
    <head th:replace="fragments/header.html :: head"/>
</head>
<body>
<section>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-4 mt-5">
                <label for="logout"><h1>Please sign in</h1></label>
                <form method="post" action="/login" id="logout">
                    <div class="form-group">
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="j_username" placeholder="Email address">
                        <input type="password" class="form-control" id="exampleInputPassword1" name="j_password" placeholder="Password">
                    </div>
                    <div class="">
                        <button type="submit" class="btn btn-primary btn-lg btn-block">Sign in</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<script th:replace="fragments/footer.html :: scripts"/>
</body>
</html>